# Selecting environment
# DOMAIN_MODE=""
# NEXT_PUBLIC_DOMAIN_MODE=""

# Backend Config
# BASE_URL=""
# CLIENT_SECRET=""

# Database
# DATABASE_URL=""
# DIRECT_URL=""

# Supabase
# NEXT_PUBLIC_SUPABASE_URL=""
# NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google OAuth
# NEXT_PUBLIC_GOOGLE_OAUTH_ID=""
# GOOGLE_CLIENT_SECRET=""

# Google Tag Manager
# NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=""

# Google Analytics
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""

# GA4 Config for B2B
# GA4_BIZ_PROPERTY_ID=""
# GA4_BIZ_SERVICE_ACCOUNT_JSON=""

# GA4 Config for B2C
# GA4_PROPERTY_ID=""
# GA4_SERVICE_ACCOUNT_JSON=""

# Google Ads Conversion
# NEXT_PUBLIC_GOOGLE_ADS_ID=""
# NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_SEND_TO=""

# Meta Pixel
# NEXT_PUBLIC_META_PIXEL_ID=""

# Meta Ads
# META_ADS_ACCOUNT_ID=""
# META_ADS_ACCESS_TOKEN=""

# Mailtrap
# MAILTRAP_API_TOKEN=""

# Cron Vercel
# CRON_SECRET=""