# Selecting environment
# DOMAIN_MODE=""
# NEXT_PUBLIC_DOMAIN_MODE=""

# Database
# DATABASE_URL=""
# DIRECT_URL=""

# Supabase
# NEXT_PUBLIC_SUPABASE_URL=""
# NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google OAuth
# NEXT_PUBLIC_GOOGLE_OAUTH_ID=""

# Mailtrap
# MAILTRAP_API_TOKEN=""