# Selecting environment
# DOMAIN_MODE="local"
# NEXT_PUBLIC_DOMAIN_MODE="local"

# Database / Prisma
# DATABASE_URL="postgresql://username:password@host:port/ailene_os?schema=public"
# DIRECT_URL="postgresql://username:password@host:port/ailene_os?schema=public"
